@use "./global.scss" as *;

* {
  box-sizing: border-box;
}

.app {
  .sections {
    width: 100%;
    height: calc(100vh - 68px);
    color: $mainColor;
    background-color: #ffffff;
    position: relative;
    top: 68px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100%;
      height: calc(100vh - 68px);
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
  }
}
